* {
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    width: 100%;
    height: 115px;
    background: rgb(255, 255, 255);
    color:  #2A7AE4;
    display: flex;
    justify-content: center;
}

.header__bar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 42px;
    margin: 0 32px 0 0;
    color: #2A7AE4;
}
.header__logo:link, .header__logo:visited, .header__logo:hover, .header__logo:active{
    text-decoration: none;
}

.header___search_logo{
    display: flex;
    align-items: center;
}

.header__search{
    outline: none;
    border: none;
    border-radius: 20px 0px 0 20px;
    background: #F5F5F5;
    width: 280px;
    height: 40px;
    color: #A2A2A2;
    font-family: 'Roboto Condensed', sans-serif;
}

.header__btn__buscar{
    border: none;
    border-radius: 0 20px 20px 0;
    background: #F5F5F5;
    color: #A2A2A2;
    width: 40px;
    height: 40px;
}

#header__btn_buscar_short{
    display: none;
}

.header__search_btn{
    opacity: 40%;
}

.header__btn_login{
    background: #FFFFFF;
    border: 1px solid #2A7AE4;
    min-width: 150px;
    height: 40px;
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 300;
}

.destacados{
    display: flex;
    width: 100%;
    height: 352px;
    background-image: url('/public/img/destacados.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}

.destacados__galeria{
    width: 100%;
    height: 250px;
    margin: 180px 10% 0 10%;
}

.destacados__info{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 5px;
}

.destacados__info_titulo{ 
    font-size: 42px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}

.destacados__info_descripcion{
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}

.ir_a_btn{
    background: #2A7AE4;
    border: 1px solid #FFFFFF;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
}

.destacados__btn_ver{
    font-size:  16px;
    color: #FFFFFF;
}

.destacados__btn_ver:link, .destacados__btn_ver:visited, .destacados__btn_ver:hover, .destacados__btn_ver:active {
    text-decoration: none;
}

.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #464646;
}

.categorias__categoria{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 1000px;
    margin: 32px 0 32px 0;

}

.categoria__bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px 0;
}

.categoria__bar_titulo{
    font-size: 32px;
    font-weight: bold;
}

.categoria__link{
    font-size: 16px;
    font-weight: bold;
    color: #2A7AE4;
}

.categoria__link:link, .categoria__link:hover, .categoria__link:active, .categoria__link:visited{
    text-decoration: none;
}

.categoria__articulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.categoria__articulo{
    display: flex;
    flex-direction: column;
    width: 18%;
    gap: 5px;
}

.categoria__articulo_img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    
}

.categoria__articulo_nombreProducto{
    font-size:  14px;
}

.categoria__articulo_precioProducto{
    font-family: 'Raleway', sans-serif;
    font-size:  16px;
    font-weight: bold;
}

.footer{
    margin: 64px 0 0 0;
    background:#EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_form{
    min-height: 350px;
    width: 80%;
    display: flex;
    gap: 10%;
    margin: 64px 0 64px 0;
}

.footer_credits{
    color: #464646;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.footer__logo{
    width: 15%;
}

.footer__logo_a{
    font-size: 42px;
    margin: 0 32px 0 0;
    color: #2A7AE4;
}

.footer__logo_a:active, .footer__logo_a:hover, .footer__logo_a:visited, .footer__logo_a:link{
    text-decoration: none;
}

.footer__info{
    width: 15%;
}

.footer__info_tittle{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__form_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.footer__form_message{
    display: flex;
    width: 50%;
}

.footer__form_tittle{
    color: #464646;
    font-size: 16px;
    font-weight: bold;
}

.footer__form_name{
    min-height: 50px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px;
    border-color: #cacaca;
}


.footer__form_message_textarea{
    font-size: 16px;
    height: 80px;
    resize: none;
    border-radius: 4px;
    border-color: #cacaca;
}

.footer__form_name:focus{
    outline: none;
}

.footer__form_message_textarea:focus{
    outline: none;
}

.footer__info_a_link:link, .footer__info_a_link:active, .footer__info_a_link:visited, .footer__info_a_link:hover {
    text-decoration: none;
    color: #464646;
}

@media (max-width: 920px){
    .header__logo{
        font-size: 32px;
    }
    .header__search{
        width: 200px;
    }

    #categoria__articulo_5, #categoria__articulo_6{
        display: none;
    }
    .categoria__articulo{
        width: 30%;
    }

    .footer__logo, .footer__logo_a{
        font-size: 32px;
        grid-area: logo;
        width: 100%;
    }

    .footer__info{
        grid-area: contact;
        width: 100%;
    }

    .footer__form_message{
        grid-area: message;
        width: 100%;
    }
    .footer_form{
        display: grid;
        grid-template-areas:
            "logo message"
            "contact message";
        gap: 5px;
    }
}

@media (max-width:540px){
    .header__bar{
        width: 90%;
    }

    .header__logo{
        margin: 0 5px 0 0;
        font-size: 20px;
    }

    .header__search{
        display: none;
    }
    
    .header__btn__buscar{
        display: none;
    }

    #header__btn_buscar_short{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px ;
    }

    .destacados{
        height: 190px;
        margin-bottom: 16px;
    }
    .destacados__galeria{
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .destacados__info{
        margin: 80px 22px 18px;
    }
    .destacados__info_titulo{
        font-size: 22px;
    }

    .destacados__info_descripcion{
        font-size: 12px;
    }

    .categoria__bar_titulo{
        font-size: 22px;
    }

    .categorias__categoria{
        width: 90%;
        margin: 16px 0 16px 0;
    }

    #categoria__articulo_3, #categoria__articulo_4{
        display: none;
    }

    .categoria__articulo{
        width: 50%;
    }

    .footer{
        margin: 16px 0 0 0;
    }

    .footer_form{
        display: grid;
        grid-template-areas:
            "logo"
            "contact"
            "message";
        gap: 20px;
        width: 90%;
        margin: 16px 0 16px 0;
    }

    .footer__logo, .footer__logo_a{
        text-align: center;
        margin: 0;
    }

    .footer__info{
        text-align: center;
    }

}

@media (max-width: 280px){
    .header__btn_login{
        min-width: 80px;
    }
}